@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300&display=swap');

body{
    background-color:#F3F1F1 ;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', monospace;
}

ul {
    list-style: none;
    background-color: #FB9F06;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #db8126;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #e39036;
}

ul li:hover ul.dropdown {
    display: block;
}